body{
    /* background-color: #1a1a1a !important; */
    /* background: rgb(182, 34, 58) !important; */
    background-color: #000000 !important;
    /* background-image: url('../assets/images/noise-light.png'); */
    background-size: 10%;
    background-repeat: repeat !important;
    overflow-x: hidden;
}

@font-face {
    font-family: "Technology";
    src: url("../assets/technology.ttf") format("truetype");
}

.technology {
    font-family: "Technology", sans-serif;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
}

.form-range::-webkit-slider-runnable-track {
background-color: #2d2d2d !important;
border-color: transparent;
}

.form-range::-webkit-slider-thumb {
-webkit-appearance: none;
border-radius: 10px;
background-color: #730066 !important;
border: 1px solid #ffffff !important;
transform: scale(1.5);
overflow: visible;
cursor: pointer;
}

.options-nav {
color: rgb(91, 91, 91);
padding: 10px;
}

.options-nav:hover {
color: rgb(210, 210, 210);
}

ul > li {
padding-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and label text */
    cursor: pointer;
    transform: scale(1.5);
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    min-width: 250px; 
    margin-left: -125px; 
    background-color: #730066;
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1;
    left: 50%; 
    bottom: 30px; 
    border-radius: 30px;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


  #redLevels {
    background-color: red !important;
    color: #ffffff;
  }

  #greenLevels {
    background-color: rgb(0, 149, 5) !important;
    color: #ffffff;
  }

  #blueLevels {
    background-color: rgb(0, 51, 255) !important;
    color: #ffffff;
  }

  #whiteLevels {
    background-color: rgb(255, 255, 255) !important;
    color: #000000;
  }

  #blackLevels {
    background-color: rgb(0, 0, 0) !important;
    border: 1px solid rgb(108, 108, 108);
    color: #ffffff;
  }

  #flashFrequency {
    background: linear-gradient(
                0deg,
                rgba(102, 0, 255, 1) 37%,
                rgba(211, 0, 255, 1) 100%
              );
    border: 1px solid rgb(108, 108, 108);
    color: #ffffff;
  }

  #movingAverage {
    background: linear-gradient(
                0deg,
                rgba(102, 0, 255, 1) 37%,
                rgba(211, 0, 255, 1) 100%
              );
    border: 1px solid rgb(108, 108, 108);
    color: #ffffff;
  }